#log {
    background-color:darkred;
    width: 100%;
    height: 45px;
}
#logo {
    padding-top: 10px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
nav {
    background-color: black;
    color: white;
    display: flex;
    
    
}
.imges {
    padding-top: 15px;
    margin-left: 30px;
    margin-right: 30px;
    width: 150px;

}
div {
    width: 25%;

}
.nav{
    width: 25%;
    padding-left: 75px;
  
}
body {
    
    background-color: red;
}
#left_column {
    line-height: 2;
    width: 20%;
    background-color:darkred;
}
a {
    color: orange;
}
#general {
    width: 60%;
    color: white;
}
#title {
    text-align: center;
    background-color: gray;

}
#right_column {
    width: 20%;
    background-color:white;
}
hr {
    width: 100px;
    align: center;
}
main  {
        display: flex;
}


footer {
    color: white;
    background-color: orange;
    text-align: center;
}