// Colors //
$primary-color: #3674fd;
$secondary-color: #194277;
$tr-color: #f1f8ff;
// Fonts //
$primary-font-color: #74b0ff;
$secondary-font-color: #ffffff;
$descr-font-color: #5a5a5a;
$font-family: "Lato", sans-serif;


