// Colors //
$primary-color: #f06c64;
$secondary-color: #2d303a;

// Fonts //
$primary-font-color: #666d89;
$secondary-font-color: #f0d8d9;
$descr-font-color: #767e9e;
$font-family: "Lato", sans-serif;

// Icons //
$icomoon-font-family: "singolo-icons" !default;
$icomoon-font-path: "fonts/singolo-icons" !default;

$icon-star: "\e900";
$icon-bubble: "\e901";
$icon-phone: "\e902";
$icon-heart: "\e903";
$icon-bulb: "\e904";
$icon-pen: "\e905";
