.about  {
    &__main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        margin: 50px;
    }
    
    &__item {
        text-align: center;
    
        &--right {
            text-align: left;
            }
        &--left {
                text-align: right;
                
            }
    
    }
    