.main {
  width: 1170px;
  display: flex;
  justify-content:space-between;
  margin: 60px auto auto auto;
  flex-wrap: wrap;
}
.header {
  text-align: center;
}
h1 {
  font-family: Lato;
  font-size: 34px;
  font-weight: bold;
  letter-spacing: 5.44px;
  text-align: center;
  color: #3c3c3c;
  margin: 198px auto auto auto;
  text-transform: uppercase;
}
.text {
  font-family: Lato;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  text-align: center;
  color: #3c3c3c;
  margin: 40px auto auto auto;
  max-width: 561px;;
}
.line {
  width: 45px;
  height: 4px;
  background-color: #dddbdb;
  margin: 20px auto auto auto;
}
.name {
  font-family: Lato;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  text-align: left;
  color: #282528;
}
.posicion {
  font-size: 14px;
  font-weight: 300;
  color: #646464;
}
.socials {
  position: relative;
  left: 66px;
  top: 123px;
}
.image_off {
  width: 269px;
  height: 267px;
  background-color: #00aed9; 
}
.image_off, .home:hover .image_on{
  display:none
}
.image_on, .home:hover .image_off{
  display:block
}
