.header__top {
    padding:  75px;
  }
  .header__arrow {
  width: 40px;
  height: 40px;
  border: solid 1px #ffffff;
  border-radius: 20px;
  color: #ffffff;;
  padding: 8px;
  margin: 320px auto 50px auto;
  }