.content-one__bg {
    background-color:$third-color ;
    max-width: 630px;
    height: auto;
}
.content__img--left {
    background: url(/img/monticello.jpg) no-repeat/cover;
    max-width: 630px;
    margin: 100px auto auto 0px; 
}