 
/*@media screen and (max-width: 768px) {
 /* .services {
    &__item {
      align-items: center;
      flex-direction: column;
      text-align: center;
    }

    &__icon {
      margin-bottom: 10px;
    }
  }

  .nav {
    display: none;
  }

  .mobile-nav {
    display: block;
  }

  .copyright {
    font-size: 12px;
  }
}
*/
